@charset "UTF-8";
@font-face {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 20px 100%;
  color: rgba(0, 0, 0, 1);
  }

  div#interface {
    width: 1200px;
    background-color: white;
    margin: -15px auto 0px auto ; 
    box-shadow: 0px 0px 10px black;/* Area externa ao objeto */
    padding: 10px;/* Area interna */
  }

  p {
    text-align: justify;
    text-indent: 25px;
  }

  a {
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a.Tvideo {
    color: white;
  }

  header#cabecalho img#Icone{
    position: absolute;
    left: 1200px;
    top: 20px;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }

  header#cabecalho img#Icone2{
    position: absolute;
    left: 1400px;
    top: 40px;
    height: 190px;
    width: 250px;
    object-fit: contain;
  }

  header#cabecalho {
    border-bottom: 1px #000000 solid;
    height: 150px;
    background: white;
  }

  header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30px;
    color: #000000;
    text-shadow: 1px 1px 1px black;
    padding: 0px;
    margin-bottom: 0px;
  }

  header#cabecalho h2{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #000000;
    padding: 0px;
    margin-top: 0px;
  }
  /* Formtação de imagens com legendas */

  figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
  }

  figure.foto-legenda img{
    width: 100%;
    height: 100%;
  }

  figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
  }

  figure.foto-legenda:hover figcaption{
    opacity: 1;
  }

  .video-custom {
    width: 450px;
    height:250px;
  }
  
  /* formatação de menu */

  nav#menu{
    display: block;
  }

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 880px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}

section#corpo {
  display: block;
  width: 600px;
  float: left;
  border-right: 1px solid #000000;
  padding-right: 15px;
}

article#noticia-principal h2 {
  font-size: 20pt;
  color: #fffdfd;
  background-color: rgb(59, 58, 58);
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
  font-family: 'FonteLogo', sans-serif;
  font-size: 20pt;
  color: #606060;
  margin-bottom: 0px;
  margin-top: 0px;
}
header#cabecalho-artigo h2{
  font-size: 13pt;
  color: #cececece;
  background-color: white;
  margin: 0px;
}
header#cabecalho-artigo h3{
  font-size: 12px;
  color: #606060;
}
.direita {
  text-align: right;
  margin-top: 0px;
}

table#tabelaSpec {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table#tabelaSpec td{
  border: 1px solid #606060;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table#tabelaSpec td.ce {   /* alteração para a clase 'ce' */
  color: white;
  background-color: #000000;
  vertical-align: top;
  font-weight: bold;
}

table#tabelaSpec td.cd {
  background-color: #cececece;
}

table#tabelaSpec caption{
  color: #888888;
  font-size: 18px;
  font-weight: bold;
}

table#tabelaSpec caption span{
  display: block;
  font-size: 10px;
  float: right;
  color: black;
  margin-top: 10px;  
}
aside#lateral {
  display: block;
  width: 500px;
  float: right;
  background-color: #dddddd;
  padding: 35px;
  margin-top: 10px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
  font-family: 'FonteLogo', sans-serif;
  font-size: 20pt;
  color: #606060;
  margin-top: 0px;
}

aside#lateral h2 {
  background-color: #606060;
  font-size: 12pt;
  color: white;
  padding: 5px;
}

footer#rodape {
  clear: both;
  border-top: 1px solid #606060;
}

footer#rodape p {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0056b3;
}
